# Virtual environment
venv/
.venv/
env/

# Python
__pycache__/
*.pyc
*.pyo

# Dataset
Dataset/

# Processed dataset
model/X.txt.npy
model/Y.txt.npy

# Database
signup.db
*.db

# Temporary/test files
static/test.jpg
static/test.png

# IDE
.vscode/
.idea/

# OS files
Thumbs.db
.DS_Store
.ipynb_checkpoints/
model/cnn_weights.hdf5
